{block content}

<div id="content">
{form bmiForm}
	<div class="form-group">
		{label name /}
		{input name, class=>'form-control'}
	</div>
	<div class="form-group">
		{label sex /}
		{input sex, class=>'form-control'}
	</div>
	<div class="form-group">
		{label weight /}
		{input weight, class=>'form-control'}
	</div>
	<div class="form-group">
		{label height /}
		{input height, class=>'form-control'}
	</div>
	<div class="form-group">
		{label email /}
		{input email, class=>'form-control'}
	</div>
	{input submit, class=>'btn btn-primary'}
{/form}
{* {control bmiForm} *}
</div>

{/block}