<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Potvrdenie objednávky</title>
		<style>
			body{
				background: blue;
			}
		</style>
	</head>
	<body>
	<p> Dobrý deň {$values->name}, </p>
	<p> vypočítali sme Vám BMI index, ktorý je {$bmi}</p>
	</body>
</html>